@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Chomsky';
    src: url(Chomsky.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
}

.topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.social {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.fa-brands {
    color: black;
}

.site-title {
    font-family: 'Chomsky', serif;
    font-size: 36px;
    margin: 0;
}

.contact-btn {
    background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 15px;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    border: 1px solid black;
}

.contact-btn:hover {
    background-color: gray;
    color: white;
}

.main-nav {
    width: 100%;
    margin: 10px 0;
    background-color: black;
}

#main-nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    padding: 0;
    margin: 0;
}

#main-nav-list li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

#main-nav-list li:hover {
    background-color: gray;
}

.breaking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.breaking__label {
    background-color: black;
    color: white;
    padding: 5px 10px;
    margin: 0;
}

.breaking__ticker {
    padding: 4px 10px;
    border: 0.5px solid black;
}

.home-top {
    width: 99%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

#recent-news-heading, #sidebar-heading {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: 18px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
}

.featured {
    border: 1px solid black;
    padding: 0 10px;
}

.featured__media {
    margin: 15px 5px 5px 5px;
}

.featured__media img {
    width: 500px;
    object-fit: cover;
}

.recent-news__list h3 a, .sidebar__card h3 a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: black;
}

.recent-news__list h3 a:hover, .sidebar__card h3 a:hover {
    text-decoration: underline;
}

.recent-news__list p, .sidebar__card p, .featured__content p {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: gray;
}

.sidebar__card img {
    width: 80%;
    object-fit: cover;
}

#featured-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0 5px 0;
}

.featured__meta {
    display: flex;
    flex-direction: column;
}

.featured__meta span, .featured__meta time {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: gray;
    font-style: italic;
}

#international-heading {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 10px 20px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.card {
    padding: 0 20px;
}

.card h3 a {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.card h3 a:hover {
    text-decoration: underline;
}

.card p {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: gray;
}

#sports-heading {
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    margin: 25px 0 10px 20px;
}

@media only screen and (max-width: 1024px) {
    .home-top {
        grid-template-columns: 1fr 2fr;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    .home-top {
        grid-template-columns: 1fr;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}